[Unit]
Description=OreSat CFC daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
#PIDFile=/run/oresat-cfcd.pid
ExecStart=/usr/bin/python3 /home/oresat/oresat-cfc-software/oresat_cfc/__main__.py
Restart=always


[Install]
WantedBy=multi-user.target
