[Unit]
Description=OreSat CFC daemon

[Service]
Type=simple
#PIDFile=/run/oresat-cfcd.pid
ExecStart=/usr/bin/python3 /home/oresat/oresat-cfc-software/oresat_cfc/__main__.py

[Install]
WantedBy=multi-user.target
