[Unit]
Description=OreSat CFC daemon

[Service]
Type=simple
#PIDFile=/run/oresat-cfcd.pid
ExecStart=/usr/bin/python3 /home/rew/oresat/oresat-cfc-software/oresat_cfc/main.py

[Install]
WantedBy=multi-user.target
