[nit]
Description=barebones service that disables the CFC TEC if the main program is not active

[Service]
Type=simple
Restart=always
RestartSec=5s
# working directory assume oresat user and repo in home dir
WorkingDirectory=/home/oresat/oresat-cfc-software/tec_watchdog
ExecStart=/home/oresat/oresat-cfc-software/tec_watchdog/tec_watchdog.py

[Install]
WantedBy=multi-user.target
