{% extends "base.html" %}

{% block content %}
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      width: 50%;
    }
    #grid {
      display: grid;
      grid-template-columns: 25% 50% 25%;
    }
    #gridColum {
      text-align: center;
    }
    #image {
      width: 90%;
    }
  </style>
  <div id="grid">
    <div id="gridColumn">
      <!--only here for spacing-->
    </div>
    <div id="gridColumn">
      <!--the "//:0" is a basically the way to make any empty img-->
      <img id="image" src="//:0" alt="capture"/>
      <br/>
      <button onclick="downloadRawImage()">Download Raw Image</button>
      <button onclick="downloadDisplayImage()">Download Display Image</button>
    </div>
    <div id="gridColumn">
      <h4>State Machine</h4>
      <table>
        <tr>
          <td>Status</td>
          <td><span id="cfcState">OFF</span></td>
        </tr>
        <tr>
          <td>Capture Delay</td>
          <td><span id="captureDelay">1000</span> ms</td>
        </tr>
        <tr>
          <td>Capture Count</td>
          <td><span id="captureCount">1</span></td>
        </tr>
      </table>
      <br />
      <h4>Camera</h4>
      <table>
        <tr>
          <td>Enable Status</td>
          <td><span id="cameraStatus">DISABLED</span></td>
        </tr>
        <tr>
          <td>Integration Time</td>
          <td><span id="cameraIntegrrationTime">0</span> ms</td>
        </tr>
        <tr>
          <td>Current Temperature</td>
          <td><span id="cameraTemperature">0</span> °C</td>
        </tr>
      </table>
      <br />
      <h4>TEC (Thermoelectric Cooler) Controller</h4>
      <table>
        <tr>
          <td>Enable Status</td>
          <td><span id="tecStatus">DISABLED</span></td>
        </tr>
        <tr>
          <td>Saturation Status</td>
          <td><span id="tecSaturated">SATURATED</span></td>
        </tr>
        <tr>
          <td>Target Temperature</td>
          <td><span id="tecTargetTemperature">0</span> °C</td>
        </tr>
      </table>
      <br />
      <div>
        <button id="changeSettings">Change Settings</button>
      </div>
    </div>
  </div>
  <dialog id="favDialog">
    <form method="dialog">
      <p>
        <b>Change Settings</b>
        <br>
        <br>
        <b>State Machine</b>
        <br>
        <br>
        <label for="newState">State:</label>
        <select id="newState" name="newState">
          <option>OFF</option>
          <option>STANDBY</option>
          <option>CAPTURE</option>
        </select>
        <br>
        <br>
        <label for="newCapDelay">Capture Delay (ms):</label>
        <input id="newCapDelay" type="number" step="1">
        <br>
        <br>
        <label for="newCapCount">Capture Count:</label>
        <input id="newCapCount" type="number" step="1">
        <br>
        <br>
        <b>Camera</b>
        <br>
        <br>
        <label for="newIntTime">Integration Time (ms):</label>
        <input id="newIntTime" type="number" step="0.001">
        <br>
        <br>
        <b>TEC</b>
        <br>
        <br>
        <label for="tecEnable">Enable:</label>
        <input id="tecEnable" type="checkbox">
        <br>
        <br>
        <label for="newTargetTemp">Target Temperature (°C):</label>
        <input id="newTargetTemp" type="number" step="1">
      </p>
      <div>
        <button id="cancel" type="reset">Cancel</button>
        <button id="submit" type="submit">Set</button>
      </div>
    </form>
  </dialog>
  <script>
    let lastDisplayImage;
    const settingsButton = document.getElementById("changeSettings");
    const cancelButton = document.getElementById("cancel");
    const submitButton = document.getElementById("submit");
    const dialog = document.getElementById("favDialog");
    dialog.returnValue = "cancel";

    async function openCheck(dialog) {
      if (dialog.open) {
        const stateObj = await readValue("0x6000", "0x1");
        const capDelayObj = await readValue("0x6000", "0x2");
        const capCountObj = await readValue("0x6000", "0x3");
        const intTimeObj = await readValue("0x6001", "0x7");
        const tecEnableObj = await readValue("0x6002", "0x1");
        const tecTargetTempObj = await readValue("0x6002", "0x3");
        document.getElementById("newState").selectedIndex = stateObj.value - 1;
        document.getElementById("newCapDelay").value = capDelayObj.value;
        document.getElementById("newCapCount").value = capCountObj.value;
        document.getElementById("newIntTime").value = Math.round(intTimeObj.value);
        document.getElementById("tecEnable").checked = tecEnableObj.value;
        document.getElementById("newTargetTemp").value = tecTargetTempObj.value;
      } else if (dialog.returnValue === "submit") {
        writeValue("0x6000", "0x1", document.getElementById("newState").selectedIndex + 1);
        writeValue("0x6000", "0x2", parseInt(document.getElementById("newCapDelay").value));
        writeValue("0x6000", "0x3", parseInt(document.getElementById("newCapCount").value));
        if (parseFloat(document.getElementById("newIntTime").value) > 0) {
          writeValue("0x6001", "0x7", parseFloat(document.getElementById("newIntTime").value));
        }
        writeValue("0x6002", "0x1", document.getElementById("tecEnable").checked);
        writeValue("0x6002", "0x3", document.getElementById("newTargetTemp").value);
      }
    }

    /** Update button opens a modal dialog */
    settingsButton.addEventListener("click", () => {
      dialog.showModal();
      openCheck(dialog);
    });

    /** Form cancel button closes the dialog box */
    cancelButton.addEventListener("click", () => {
      dialog.close("cancel");
      openCheck(dialog);
    });

    /** Form submit button closes the dialog box */
    submitButton.addEventListener("click", () => {
      dialog.close("submit");
      openCheck(dialog);
    });

    /** Let the user download the raw image */
    async function downloadRawImage() {
      let obj = await readValue("0x7000", "0x1");
      const unixTime = Math.floor(Date.now() / 1000);
      downloadFile(`cfc_capture_${unixTime}.raw`, obj.value);
    }

    /** Let the user download the display image */
    function downloadDisplayImage() {
      const unixTime = Math.floor(Date.now() / 1000);
      downloadFile(`cfc_capture_${unixTime}.jpg`, lastDisplayImage);
    }

    /** Let the user download a file */
    function downloadFile(filename, data) {
      const byteCharacters = atob(data);
      const byteArrays = [];
      const sliceSize = 512;

      for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        const slice = byteCharacters.slice(offset, offset + sliceSize);

        const byteNumbers = new Array(slice.length);
        for (let i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        const byteArray = new Uint8Array(byteNumbers);
        byteArrays.push(byteArray);
      }

      const blob = new Blob(byteArrays, {
        type: "application/octet-stream",
      });

      const a = document.createElement("a");
      a.download = filename;
      a.href = window.URL.createObjectURL(blob);
      a.click();
    }

    const STATES = {
      0x01: "OFF",
      0x02: "STANDBY",
      0x03: "CAPTURE",
      0xFF: "ERROR",
    };

    /** Update all info / data being displayed */
    async function update() {
      let obj;

      // get last image capture
      obj = await readValue("0x7000", "0x2");
      lastDisplayImage = obj.value;
      document.getElementById("image").src = "data:image/jpg;base64, " + obj.value;

      // get CFC state
      obj = await readValue("0x6000", null);
      document.getElementById("cfcState").innerHTML = STATES[obj.subindexes[1].value];
      document.getElementById("captureDelay").innerHTML = obj.subindexes[2].value;
      document.getElementById("captureCount").innerHTML = obj.subindexes[3].value;

      // get camera info
      obj = await readValue("0x6001", null);
      if (obj.subindexes[4].value === true) {
        document.getElementById("cameraStatus").innerHTML = "ENABLED";
      } else {
        document.getElementById("cameraStatus").innerHTML = "DISABLED";
      }
      document.getElementById("cameraTemperature").innerHTML = obj.subindexes[5].value;
      document.getElementById("cameraIntegrrationTime").innerHTML = Math.round(obj.subindexes[7].value);

      // update TEC info
      obj = await readValue("0x6002", null);
      if (obj.subindexes[1].value === true) {
        document.getElementById("tecStatus").innerHTML = "ENABLED";
      } else {
        document.getElementById("tecStatus").innerHTML = "DISABLED";
      }
      if (obj.subindexes[2].value) {
        document.getElementById("tecSaturated").innerHTML = "SATURATED";
      } else {
        document.getElementById("tecSaturated").innerHTML = "NOT_SATURATED";
      }
      document.getElementById("tecTargetTemperature").innerHTML = obj.subindexes[3].value;
    }

    update();
    const interval = setInterval(function() {
      update();
    }, 2500);
  </script>
{% endblock %}
